/* Style inputs with type="text", type="email"and textareas */
input[type=text],
input[type=email],
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
    background-color: #582c8d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
    background-color: #761DB1;
}

/* Sidebar */
.st-emotion-cache-6qob1r {
    background-color: #582c8d;

}

/* Sidebar */
.mapboxgl-canvas  {
    border-radius: 30px;
}

/* Metricas */
.st-emotion-cache-12w0qpk  {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid rgb(88, 44, 141, 0.3);
    padding: 10px;
    box-shadow: 6px 6px #582c8d;
    margin-bottom: 50px;
}

/* Graficos */
.st-emotion-cache-keje6w  {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #582c8d;
    box-shadow: 6px 6px #582c8d;
}

